.container {
    margin: 0 25% 0 25%;
}

.login button {
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 400px;
    /* border-radius: 60%; */
    height: 200px;
}